.child-keyboard-container {
  width: 100%;
  height: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  background-color: #000000;
  
  & .card {
    background-color: aquamarine;
    height: 100px;
    cursor: pointer;
  }

  & .card:hover {
    transform: translate(0px, -7px);
    box-shadow: -2px -2px 3px 3px #000;
  }

  & .alphabelit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}